:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #06090b;
  --secondary-background-color: #f0f0f0;
  --text-color: #ffffff;

  --color-positive-score: rgb(0, 200, 0);
  --color-negative-score: rgb(200, 0, 0);
  --size-text-score: 30px;

  --padding: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

h1 {
  margin-bottom: 20px;
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

/*=============КНОПКА================*/

.glow-on-hover {
  width: 220px;
  height: 50px;
  margin: 10px;
  border: none;
  outline: none;
  color: var(--text-color);
  background: var(--background-color);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
  filter: blur(5px);
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*=======Кнопка ответа===========*/

.btt-answer {
  width: 220px;
  height: 50px;
  margin: 2px;
  font-size: 16px;
  background-color: var(--background-color); /* Цвет фона */
  color: var(--text-color); /* Цвет текста */
  border: 2px solid #007bff;
  align-items: center;
  justify-content: center;
  text-align: center;
}
